table{
    background-color: #c1c1c1;
    margin: 0 auto;
    border-radius: 20px;
}

.wrapper{
    /* background-color: rgb(179, 174, 179); */
    text-align: center;
    padding: 40px;
    width: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.wrapper-inner{
    width: 70%;
}
.lg-bt{
    width: 70%;
}
.cr{
    margin: 0 auto;;
}
.remover{
    display: none;
}
.sg{
    width: 63%;
}

.ald{
    position: absolute;
    top: 500px;
    left: 300px;
}

.showcase{
    background-color: tomato;
    height: 91rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lf, .rt{
    border: 1px solid black;
    height: 10rem;
    background-color: thistle;
    padding: 3.5rem;
    border-radius: 50% 50%;
    font-weight: bolder;
    font-size: 2rem;

}
.img-cls{

    height: 9rem;
    border-radius: 50% 50%;
    
}
