

<br>
<br>
<br>


<div class=" wrapper container panel panel-success" align='center'>

<div style="font-size: large; font-weight: bold; color: black;" class="panel-heading">Signup</div>

<form class=" wrapper-inner container panel-body" align='center'>
  <input class="form-control" type="text" id="gname" ng-model='gname' name="gname" placeholder="type email"><br>
  <input class="form-control" type="password" id="pw" name="pw" ng-model='pw' placeholder="type Password"><br>
</form>
<div class="button-wrapper" align='center'>
  <button class ='btn btn-primary sg' type="submit" id='btn' ng-click='sendTheData()'>Signup</button>
</div>
</div>
</div>
