
 <nav class="container navbar navbar-inverse">
  <ul class="nav navbar-nav d-flex">
      <li><a href="#!/">Home</a></li>
      <li><a href="#!/add">Add Student Info</a></li>
      <li><a href="#!/show">Show student Entries</a></li>
      <li><a href="#!/analytics">Analytics</a></li>
      <li ng-click='logout()'><a href="#">Logout <i class="fa fa-sign-out"></i></a></li>
  </ul>      
</nav>

<br>

<div class="panel panel-primary">
  <div style="font-size: large; font-weight: bold; color: rgb(255, 255, 255);" class="panel-heading wrapper cr">
    Add Student Details</div>

<div class="wrapper container panel-body"
align="center">
<form name='myForm' class="jumbotron text-center">
  <div class="form-group">

    <label for="fname">First name:</label><br>
    <input class="form-control" type="text" id="fname" ng-model='fname' name="fname" ad>
    <span style="color:red;" ng-show="myForm.fname.$error.ad">
      add valid name</span><br>
    </div>

  <div class="form-group">

    <label for="maths">Maths:</label><br>
    <input class="form-control" type="number" id="maths" name="maths" ng-model='maths' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>

  <div class="form-group">
    <label for='science'>science:</label><br>
    <input class="form-control" type="number" id="science" name="science" ng-model='science' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>


    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>


  <div class="form-group">

    <label for="sst">SST:</label><br>
    <input class="form-control" type="number" id="sst" name="sst" ng-model='sst' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>

  <div class="form-group">

    <label for="hindi">Hindi:</label><br>
    <input class="form-control" type="number" id="hindi" name="hindi" ng-model='hindi' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>

  <div class="form-group">

    <label for="sanskrit">Sanskrit:</label><br>
    <input class="form-control" type="number" id="sanskrit" name="sanskrit" ng-model='sanskrit' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>

  
<label for="school">Choose Your School : </label>
<br>
<br>
<select class="form-control" id="school" name="school">
  <option ng-repeat='school in schools' value={{school.schoolname}}>{{school.schoolname}}</option>
</select>
<br>
<br>
<button class ='btn btn-primary' type="submit" id='btn' ng-click='consoleData()'>Add Details</button>
</form>
<h1 class="text-center">{{message}}</h1>

<button class ='btn btn-primary' ng-click='consoleData(1)'>SEED</button>

</div>
</div>
