
 <nav class="container navbar navbar-inverse">
  <ul class="nav navbar-nav d-flex">
      <li><a href="#!/">Home</a></li>
      <li><a href="#!/add">Add Student Info</a></li>
      <li><a href="#!/show">Show student Entries</a></li>
      <li><a href="#!/analytics">Analytics</a></li>
      <li ng-click='logout()'><a href="#">Logout <i class="fa fa-sign-out"></i></a></li>
  </ul>      
</nav>

<br>

<div class="panel panel-primary">
  <div style="font-size: large; font-weight: bold; color: rgb(255, 255, 255);" class="panel-heading wrapper cr">
    Add Student Details</div>

<div class="wrapper container panel-body"
align="center">
<form name='myForm' class="jumbotron text-center">
  <div class="form-group">

    <label for="fname">First name:</label><br>
    <input class="form-control" type="text" id="fname" ng-model='fname' name="fname" ad>
    <span style="color:red;" ng-show="myForm.fname.$error.ad">
      add valid name</span><br>
    </div>
     
<div class="form-group">

  <label for="branch">Branch:</label><br>
  <input class="form-control" type="text" id="branch" name="branch" ng-model='branch' as><br>
  <span style="color:red;" ng-show="myForm.branch.$error.as">
    add valid name</span><br>
  </div>

  <div class="form-group">

    <label for="marks">Total Marks:</label><br>
    <input class="form-control" type="number" id="marks" name="marks" ng-model='marks' bs><br>
    <span style="color:red;" ng-show="myForm.marks.$error.bs">
      add valid name</span><br>
    </div>

<div class="form-group">
  <label for="place">Places: </label><br>
  <input class="form-control" type="text" id="place" name="place"><br>
</div>
  
<label for="school">Choose Your School : </label>
<br>
<br>
<select class="form-control" id="school" name="school">
  <option value="dps rk puram">DPS RK Puram</option>
  <option value="dps Nangloi">DPS Nangloi</option>
  <option value="dps krishna nagar">DPS Krishna Nagar</option>
  <option value="Sr. Sec GOVT. School">Sr, Sec GOVT. School</option>
  <option value="The doon School">The Doon School</option>
</select>
<br>
<br>
<button class ='btn btn-primary' type="submit" id='btn' ng-click='consoleData()'>Add Details</button>
</form>
<h1 class="text-center">{{message}}</h1>

<button class ='btn btn-primary' ng-click='consoleData(1)'>SEED</button>

</div>
</div>
