<div class="showcase">
    <div class='school_container'>
        <button>
            <a href=".#!/add-school">   <img class="img-cls" src="https://static.toiimg.com/thumb/msid-81652554,width-1200,height-900,resizemode-4/.jpg">
                <div> Add School</div></a>
        </button>
     
    </div>
    <div class='school_container'>
      <button>
     <a href=".#!/add">  <img class="img-cls" src="https://www.pngitem.com/pimgs/m/535-5352175_cartoon-student-png-transparent-png.png">
        <div> Add Student</div></a>
      </button>
    </div>
</div>